@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-serif: "Gabarito Variable", ui-serif, serif;

  --text-xs: 0.875rem;
  --text-xs--line-height: 1.125rem;
  --text-sm: 1rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1.125rem;
  --text-base--line-height: 1.625rem;
  --text-lg: 1.25rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.5rem;
  --text-xl--line-height: 1.813rem;
  --text-2xl: 1.75rem;
  --text-2xl--line-height: 2.125rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.375rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.688rem;
  --text-5xl: 2.5rem;
  --text-5xl--line-height: 3rem;
  --text-6xl: 3rem;
  --text-6xl--line-height: 3.625rem;
  --text-7xl: 3.75rem;
  --text-7xl--line-height: 1;
  --text-8xl: 4.5rem;
  --text-8xl--line-height: 4.875rem;
  --text-9xl: 6rem;
  --text-9xl--line-height: 6.625rem;

  --tracking-tightest: -2px;
  --tracking-tighter: -1px;
  --tracking-tight: -0.25px;

  --animate-slide-in: slide-in 600ms ease both;

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-500 {
  animation-delay: 500ms;
}

.link-highlight {
  position: relative;
  text-decoration: none;
  background-image: linear-gradient(var(--color-primary), var(--color-primary));
  background-size: 100% 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s ease;
  padding-bottom: 2px;
}

.link-highlight:hover {
  background-size: 100% 100%;
  color: #ffffff !important;
}

/* Base Colors & Light Mode Defaults */
:root {
  --color-primary: #2563eb;

  --bg-body: #ffffff;
  --bg-card: #ffffff;
  --bg-chip: #f3f4f6;
  /* neutral-100 */
  --bg-chip-hover: #d1d5db;
  /* neutral-300 */

  --text-heading: #000000;
  --text-body: #4b5563;
  /* neutral-600 */
  --text-muted: #6b7280;
  /* neutral-500 */

  --border-color: #e5e7eb;
  /* neutral-200 */
  --color-neutral: #475569;
}

/* Dark Mode Overrides */
[data-theme="dark"] {
  --bg-body: #0e141b;
  --bg-card: #1c232d;
  --bg-chip: #1e293b;
  --bg-chip-hover: #475569;

  --text-heading: #f8fafc;
  --text-body: #94a3b8;
  --text-muted: #64748b;

  --border-color: #334155;
  --color-neutral: #94a3b8;
}