---
import Section from "./Section.astro";
import type { AboutProps } from "@types";

type Props = AboutProps;

const { description } = Astro.props;
---

<Section text="About Me" href="about">
  <p class="w-auto text-base text-neutral md:pr-5">{description}</p>
</Section>
