---
import Section from "./Section.astro";
import type { AboutProps } from "@types";

type Props = AboutProps;

const { description } = Astro.props;
---

<Section text="About" href="about">
  <div 
    class="text-base leading-relaxed text-[var(--text-body)] transition-colors duration-300" 
    set:html={description}
  />
</Section>
