---
import Section from "./Section.astro";
import type { SkillsProps } from "@types";

interface Props {
  skills: SkillsProps;
}

const { skills } = Astro.props;
---

<Section text={skills.title} href="skills">
  <div class="grid gap-12 sm:grid-cols-2">
    {
      skills.data.map(({ category, skills }) => (
        <div>
          <h3 class="mb-4 font-serif text-2xl font-semibold text-primary">
            {category}
          </h3>
          <div class="flex flex-wrap gap-3">
            {skills.map((skill) => (
              <span class="rounded-full border border-neutral-200 bg-neutral-100 px-4 py-2 text-sm text-neutral-700 hover:bg-neutral-200 transition-colors">
                {skill}
              </span>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</Section>
